@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');

html, body, #root, .App {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    font-family: 'Roboto Slab', sans-serif;
    color: #2f2d2d;
    user-select: none;
    background-color: #ccc9c9;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeScreen, .gameScreen, .statsScreen {
    background-color: #e6dee9;
}

.homeScreen {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-weight: 700;
    align-items: center;

    .header {
        width: 100%;
        height: 104px;
        background-color: #826090;
        color: #f8f6f9;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            text-align: center;
            font-family: 'Bungee', cursive;
            font-size: 36px;
        }
    }


    .menuItems {
        display: flex;
        flex-direction: column;
        padding: 32px 52px;
        padding-bottom: 72px;
        flex: 1;
        width: 100%;
        max-width: 500px;

       .startBtn {
            text-transform: uppercase;
            border-radius: 8px;
            height: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 -3px 0 0 #2545a8 inset;
            background-color: #6683dd;
            color: #f8f6f9;
            font-size: 32px;
            padding: 16px;
            margin-top: auto;

            &.active {
                background-color: #4669d6;
                box-shadow: 0 -2px 0 0 #1e3888 inset;
            }
        }

        .menuItem {
            background-color: #575353;
            box-shadow: 0 -3px 0 0 #393636 inset;
            color: #f8f6f9;
            padding: 16px;
            border-radius: 8px;
            box-sizing: inherit;
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            margin-top: 12px;
            text-transform: uppercase;
            transition: all 0.1s ease;

            &.disabled {
                opacity: 0.6;
            }

            &.active {
                background-color: #2f2d2d;
                box-shadow: 0 -2px 0 0 #1b1a1a inset;
            }
        }

        .modeSelector {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            grid-gap: 12px;
            width: 100%;
            font-size: 28px;
        }
    }
}

.statsScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 52px;
    padding-top: 24px;

    h2 {
        margin: 0;
        margin-bottom: 8px;
        margin-top: 24px;
    }

    table {
        border-collapse: collapse;

        th {
            text-align: right;
        }

        tr {
            border-bottom: 1px solid #575353;

            &:last-of-type {
                border-bottom: none;
            }

            th {
                border-right: 1px solid #575353;
                width: 70%;
            }

            th, td {
                padding: 8px 16px;
            }
        }
    }

    .backHomeBtn {
        font-weight: 700;
        background-color: #575353;
        box-shadow: 0 -3px 0 0 #393636 inset;
        color: #f8f6f9;
        padding: 16px;
        border-radius: 8px;
        box-sizing: inherit;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin-top: 12px;
        text-transform: uppercase;
        margin-top: auto;

        &.disabled {
            opacity: 0.6;
        }

        &.active {
            background-color: #2f2d2d;
            box-shadow: 0 -2px 0 0 #1b1a1a inset;
        }
    }

    .retryBtn {
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 8px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 -3px 0 0 #2545a8 inset;
        background-color: #6683dd;
        color: #f8f6f9;
        font-size: 32px;
        padding: 16px;
        margin-top: 12px;

        &.active {
            background-color: #4669d6;
            box-shadow: 0 -2px 0 0 #1e3888 inset;
        }
    }
}


.gameScreen {
    max-height: 900px;
    padding: 0 32px;
    width: 100%;
    height: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;

    .gameHeader {
        font-weight: 700;
        height: 104px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .title {
            font-size: 28px;
        }

        .cancelBtn {
            background-color: #575353;
            box-shadow: 0 -2px 0 0 #393636 inset;
            color: #f8f6f9;
            height: 32px;
            padding: 0 12px;
            font-size: 15px;
            border-radius: 8px;
            border: none;
            font: inherit;
            line-height: 1;
            display: flex;
            align-items: center;
        }
    }

    .boardContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        flex: 1;

        .board {
            width: 100%;
            display: grid;
            grid-gap: 8px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;

            .cell {
                border-radius: 8px;
                background-color: #6D435A;
                color: #f8f6f9;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 60px;
                transition: all 0.1s ease;
                box-shadow: 0 -3px 0 0 #492d3c inset;
                line-height: 1;

                &.active {
                    background-color: #613c50;
                    box-shadow: 0 -1px 0 0 #3d2632 inset;
                }


                .displayLetter {
                    opacity: 0;

                    &.show {
                        transition: all 0.2s ease-in-out;
                        opacity: 1;
                    }
                }


                &::before {
                    content: "";
                    padding-bottom: 100%;
                    display: inline-block;
                    vertical-align: top;
                }
            }

        }
    }

    .progressBarHolder {
        width: 100%;
        position: relative;
        border-radius: 4px;
        background-color: #ccc9c9;
        box-shadow: 0 -1px 0 0 #b9b5b5 inset;
        margin-top: 32px;
        height: 8px;
        min-height: 8px;
        display: flex;

        svg {
            border-radius: 4px;
            height: 7px;
            filter: drop-shadow( 0px 1px 0px #1e3888);
        }

        .progressBar {
            position: absolute;
            width: 100%;
        }
    }

    .btnRow {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 12px;
        margin-top: 32px;

        .matchBtn {
            border-radius: 8px;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: 700;
            background-color: #f8f6f9;
            box-shadow: 0 -3px 0 0 #ccc9c9 inset;

            &.active {
                background-color: #6683dd;
                box-shadow: 0 -2px 0 0 #2545a8 inset;
                color: #f8f6f9;
            }

            &.disabled {
                opacity: 0.5;
            }
        }
    }

    .pager {
        height: 104px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 20px;
        justify-content: center;

        .number {
            flex: 1;

            &:first-of-type {
                text-align: right;
            }
        }
    }
}

@media (max-width: 400px) {
    .homeScreen .menuItems {
        padding-left: 32px;
        padding-right: 32px;
    }

    .gameScreen {
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media (max-width: 320px) {
    .gameScreen {
        .displayLetter {
            font-size: 52px;
        }

        .btnRow .matchBtn {
            font-size: 15px;
        }

        .pager {
            font-size: 20px;
        }
    }
}
