@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

$grid-width: calc(84vw + 24px);

html, body, #root, .App {
    height: 100%;
}

body {
    background: #e6dee9;
    font-family: 'Roboto Slab', sans-serif;
    color: #2f2d2d;
    user-select: none;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .startBtn {
        text-transform: uppercase;
        border-radius: 8px;
        height: 14vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        box-shadow: 0 -3px 0 0 #2545a8 inset;
        background-color: #6683dd;
        color: #f8f6f9;
        font-size: 32px;
        padding: 16px;
        width: 200px;
    }
}

.statsScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: $grid-width;
}


.counter {
    font-weight: 700;
    margin: 20px 0;
    width: calc(84vw + 24px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        font-size: 24px;
    }

    .cancelBtn {
        background-color: #575353;
        box-shadow: 0 -2px 0 0 #393636 inset;
        color: #f8f6f9;
        height: 20px;
        padding: 6px 12px;
        font-size: 15px;
        border-radius: 8px;
        border: none;
        display: block;
        font: inherit;
        box-sizing: inherit;
        line-height: 1;
    }
}

.board {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 28vw 28vw 28vw;
}

.cell {
    height: 28vw;
    border-radius: 16px;
    background-color: #6D435A;
    color: #f8f6f9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    text-shadow: 3px 4px 0px rgba(0,0,0,0.3);
    transition: all 0.2s ease;

    .displayLetter.show {
        transition: all 0.2s linear;

        &.show {
            transition: all 0.3s ease;
        }
    }
}

.btnRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    width: calc(84vw + 24px);
    margin: 24px 0;

    .matchBtn {
        border-radius: 8px;
        height: 14vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 700;
        background-color: #f8f6f9;
        box-shadow: 0 -3px 0 0 #ccc9c9 inset;
    }

    .matchBtn.active {
        background-color: #6683dd;
        box-shadow: 0 -2px 0 0 #2545a8 inset;
        color: #f8f6f9;
    }
}

.progressBarHolder {
    position: relative;
    width: calc(84vw + 24px);
    height: 8px;
    border-radius: 4px;
    background-color: #ccc9c9;
    box-shadow: 0 -1px 0 0 #b9b5b5 inset;

    .progress {
        border-radius: 4px;
        position: absolute;
        background-color: #2545a8;
        height: 100%;
    }

    .progress.loading {
        transition: width 0.3s linear;
        box-shadow: 0 -1px 0 0 #1e3888 inset;
    }
}

.pager {
    margin: 24px 0;
    font-size: 24px;
    text-align: center;
}

// .cell:hover {
//     transform: scale(0.95);
//     background-color: #613c50;
// }
